@model IEnumerable<User>
<section class="content-main">
    <div class="content-header">
			<h2 class="content-title">Пользователи</h2>
			
		</div>

    <div class="card mb-4">

        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Role</th>
                            <th class="text-end">Email</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach(User user in Model){
                        <tr>
                            <td width="40%">
                                <a href="#" class="itemside">
                                    <div class="left">
                                        <img src="@(user.ProfileImage??"/images/person.svg")" class="img-sm img-avatar" alt="Userpic">
                                    </div>
                                    <div class="info pl-3">
                                        <h6 class="mb-0 title">@user.FirstName</h6>
                                        <small class="text-muted">User ID: #@user.Id</small>
                                    </div>
                                </a>
                            </td>
                            <td><span class="badge rounded-pill alert-success" data-user-role="@user.Role">
                                <form asp-controller="Admin" asp-action="ChangeProfileRole" asp-route-id="@user.Id">
                                    <select class="bg-transparent border-0 text-reset text fw-bold" name="roleName" onchange="this.form.submit()" asp-for="@user.Role">
                                        <option value="@Role.Admin">Admin</option>
                                        <option value="@Role.User">User</option>
                                    </select>
                                </form>
                            </span></td>
                            <td class="text-end">@user.Email</td>
                            
                        </tr>
                       }
                       
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>

        </div> <!-- card-body end// -->
    </div> <!-- card end// -->


</section>
